* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  letter-spacing: -1.2px;
  background-color: #0f0f10; /* negro Apple */
  color: #e5e5e7; /* gris claro Apple */
  padding-top: 60px;
}

.hero {
  background-image: url(bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 140px 20px;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 20px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #2e2e2e;
  color: #e2e2e2;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

section {
  padding: 120px 20px;
  max-width: 900px;
  margin: auto;
  color: #d1d1d1;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #000;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.05);
  z-index: 1000;
  font-weight: 500;
  letter-spacing: 2px;
}

.logo {

  height: 35px;
  width: auto;
}

.logo-svg {
  height: 70px;
  width: auto;
  align-items: center;
}

.logo-face {
  height: 10px;
  width: auto;
}



.imglogo img {
  height: 35px;
  width: auto;
  display: block; /* importantísimo */
}

.nav-links {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: opacity 0.3s ease;
  list-style: none;   /* quita los puntitos */
  display: flex;      /* los pone en línea */
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #e5e5e7;
  font-size: 14px;
  transition: opacity 0.3s ease;
}

a:hover {
  color: #7CCCC4;
  cursor: pointer;
}


.nav-links a:hover {
  opacity: 0.7;
}

<!-- CSS Ubicaciones-->
.location {
  padding: 4rem 1.5rem;
  text-align: center;
}

.map-container {
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 16px;
  overflow: hidden;
}

