* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #0f0f10; /* negro Apple */
  color: #e5e5e7; /* gris claro Apple */
  padding-top: 60px;
  
}
h1, h3 {
  font-weight: 500;
}

h2 {
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 36px;
}

h4{
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
}



p {
  font-weight: 300;
}


.hero {
  background-image: url(bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 140px 20px;
  
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 20px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #2e2e2e;
  color: #e2e2e2;
  text-decoration: none;
  border-radius: 5px;
  
}



.menu-toggle {
  display: none;
}
@media (min-width: 1025px) {
  .nav-links {
    display: flex;
  }
}

@media (max-width: 768px) {

  .menu-toggle {
    display: block;
    background: none;
    border: none;
    color: #e5e5e7;
    font-size: 26px;
    cursor: pointer;
  }

  .nav-links {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background: rgba(0,0,0,0.96);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .nav-links.active {
    opacity: 1;
    pointer-events: auto;
  }

  .nav-links a {
    font-size: 18px;
    letter-spacing: 2px;
  }
}




section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
  color: #d1d1d1;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #000;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.05);
  z-index: 1000;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.logo {
  height: 35px;
  width: auto;
}

.logo-svg {
  height: 70px;
  width: auto;
  align-items: center;
}

.logo-face {
  height: 10px;
  width: auto;
}

.social-link {
  display: flex;
  align-items: center;
}

.social-icon {
  height: 20px;
  width: auto;
  display: block;
}




.imglogo img {
  height: 35px;
  width: auto;
  display: block; /* importantísimo */
}

.nav-links {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 15px;
  transition: opacity 0.3s ease;
  list-style: none;   /* quita los puntitos */
  display: flex;      /* los pone en línea */
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #e5e5e7;
  font-size: 14px;
  transition: opacity 0.3s ease;
}

a:hover {
  color: #7CCCC4;
  cursor: pointer;
}


.nav-links a:hover {
  opacity: 0.7;
}

<!-- CSS Ubicaciones-->
.location {
  padding: 4rem 1.5rem;
  text-align: center;
}

.map-container {
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 16px;
  overflow: hidden;
}

.branches {
  padding: 4rem 1.5rem;
  text-align: center;
}

.branches-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1100px;
  margin: 0 auto;
}


footer{
  background-color: rgb(0, 0, 0);
  padding: 1rem 2rem;
  text-align: center;
  font-size: 15px;
}

.container{
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto lfr auto;
}

t{
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 28px;
  color: #ffffff;
  text-align: center;
}



.hero-philosophy {
  background-image: url(philosophy.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 70vh; /* 🔑 ESTO */
  display: flex;
  align-items: center;

  padding: 0 70px; /* quitamos el padding vertical */

}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 50px 20px;
  align-items: center;
}


.split-image {
  background-image: url("philosophy-two.png");
  background-size: cover;
  background-position: center;
  min-height: 315px; /* 🔑 ESTO ES LO QUE TE FALTABA */
  border-radius: 4px;
}

.split-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.icon{
  height: 70px;
  width: auto;
}
.icon-class{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-section {
  padding: 40px;
}


.contact-card {
  text-decoration: none;
  color: inherit;
}



.container-contacto{
  margin: 40px auto;
  width: 90%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 15px;
}

.element-telefono{
  background-color: rgb(10, 10, 10);
  padding:35px;
  text-align: center;
  align-items: center;

}

.element-correo{
  background-color: rgb(10, 10, 10);
  padding:35px;
  text-align: center;
  align-items: center;
}
.element-ubicaciones{
  background-color: rgb(10, 10, 10);
  padding:35px;
  text-align: center;
  align-items: center;

}
.element-instagram{
  background-color: rgb(10, 10, 10);
    padding:35px;
  text-align: center;
  align-items: center;
}

.element-facebook{
  background-color: rgb(10, 10, 10);
  padding:35px;
  text-align: center;
  align-items: center;
}

.element-x{
  background-color: rgb(10, 10, 10);
  padding:35px;
  text-align: center;
  align-items: center;

}
